html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}

.left-header {
    flex: 1;
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 75px;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.navbar a:hover {
    color: rgb(255, 0, 0);
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 75px;
}

.login {
    text-decoration: none;
    color: #000000;
}

.login:hover {
    color: rgb(255, 0, 0);
}

.container {
    font-size: 20px;
    max-width: 300px;   /* controls width */
    padding: 10px;      /* adds spacing inside */
}
